<div class="py-4">
  <div class="row">
    <div class="col-4 p-4">
      <div class="card">
        <div class="card-header">
          phone
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th class="text-center" scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listPhone;let i =index">
                <th >{{i+1}}</th>
                <td>{{item.name}}</td>
                <td>{{item.price | currency}}</td>
                <td>{{item.amount}}</td>
                <td class="text-center" (click)="getInfor(item)" data-bs-toggle="modal" data-bs-target="#edit"><i class="fas fa-edit"></i></td>
              </tr>
            
            </tbody>
          </table>
        </div>
      </div>
    
    </div>
    <div class="col-6">
  
    </div>
  </div>





<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group flex-nowrap mb-3">
          <span class="input-group-text" id="addon-wrapping">Name</span>
          <input type="text" class="form-control" placeholder="Name" [(ngModel)]="inforPhone.name" disabled>
        </div>
        <div class="input-group flex-nowrap mb-3">
          <span class="input-group-text" id="addon-wrapping">Quantity</span>
          <input type="text" class="form-control" placeholder="Name" [(ngModel)]="inforPhone.amount">
        </div>
        <div class="input-group flex-nowrap mb-3">
          <span class="input-group-text" id="addon-wrapping">Price</span>
          <input type="text" class="form-control" placeholder="Name" [(ngModel)]="inforPhone.price ">
        </div>
   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>